<div ng-controller="saveCategoryController">
    <form name="createcategory", ng-submit="saveCategory(category)">
        <table>
            <tr>
                <td>Code</td>
                <td><input type="text" ng-model="category.code"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="category.name"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" ng-model="category.description"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="save"/></td>
                <td></td>
            </tr>
        </table>
    </form>
    {{message}}

</div>