<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nested Service</title>
  </head>
  <body ng-app="myApp">
    <div ng-controller="ListController">
      <ul>
        <li ng-repeat="fruit in fruits">
          {{fruit}}
        </li>
      </ul>
    </div>
      <div ng-controller="AddController">
        <input type="text" ng-model="newFruit">
        <input type="button" value="Add" ng-click="addFruit()">
      </div>
    <script src="../angular/angular.js"></script>
    <script type="text/javascript">
      var app = angular.module("myApp", []);

      app.factory("FruitService", function() {
        var fruits = ["Apple", "Banana", "Orange"];

        return {
          list : function() {
            return fruits;
          },
          add : function(aFruit) {
            fruits.push(aFruit);
          }
        };
      });
      app.controller("ListController", function($scope, FruitService){
          $scope.fruits = FruitService.list();
      });

      app.controller("AddController", function($scope, FruitService){
        $scope.addFruit = function() {
          FruitService.add($scope.newFruit);
          $scope.newFruit = "";
        };
      });
    </script>
  </body>
</html>
